@model ShopCartViewModel

<div>
	<div class="container">
		<div class="shopcart-box">
			<h2>Shop cart</h2>
			@if (Model.ShopCartItems.Count == 0)
			{
				<div class="text-empty-cart">
					<h3>Your Shopping Cart is empty...</h3>
				</div>
				<div class="container paybox">
					<div class="paybuttons">
						<span><a class="btn btn-primary custom-btn-primary" onclick="javascript:history.back(-1); return false;">Back</a></span>
						<span><a class="btn btn-primary custom-btn-primary" asp-controller="Monitors" asp-action="List">Go to list</a></span>						 
					</div>
				</div>
			}
			else
			{
				<div class="cart-table-wrap">
					<table class="cart-table">
						<tbody>					
							@foreach(var el in Model.ShopCartItems)
							{
								<tr class="padding-between-cols">
									<td><img class="img" src="@el.Monitor.Img" alt="@el.Monitor.Name" width="166" height="140" border="0" style="opacity:1; z-index:0;" /></td>
									<td style="margin-right:20px;">@el.Monitor.Name</td>					
									<td style="margin-right:20px;">@el.Monitor.Price.ToString("c")</td>
									<td style="margin-right:20px;">@el.Amount</td>
									<td style="margin-right:20px;">@((el.Amount * el.Monitor.Price).ToString("c"))</td>
									<td>
										<a class="btn btn-danger custom-btn-danger" asp-controller="ShopCart" asp-action="RemoveFromCart" asp-route-id="@el.Monitor.Id">Remove</a>
									</td>
								</tr>
							}		
						</tbody>		
						<tfoot>
							<tr class="between-cols-tfoot">
								<td colspan="4" style="text-align:right;">Total price:</td>
								<td>@Model.CartTotal.ToString("c")</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="container paybox">
					<div class="paybuttons">
						<span><a class="btn btn-primary custom-btn-primary" onclick="javascript:history.back(-1); return false;">Back</a></span>
						<span><a class="btn btn-primary custom-btn-primary" asp-controller="Monitors" asp-action="List">Go to list</a></span>
						<span><a class="btn btn-danger custom-btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a></span>
						<span><a class="btn btn-danger custom-btn-danger" asp-controller="ShopCart" asp-action="ClearCart">Clear</a></span> 
					</div>				
				</div>
			}
		</div>
	</div>
</div>	
